<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/list.css"/>
	</head>
	<body>
		<table class="tab tab-hover">
			<tr class="active">
				<th>编号</th><th>单号</th><th>快递公司</th><th>收货人</th><th>收货电话</th><th>状态</th><th>状态变更时间</th><th>操作</th>
			</tr>
			<tr>
				<td>1001</td>
				<td>123123123</td>
				<td>顺风快递</td>
				<td>李老师</td>
				<td>18516955565</td>
				<td>已取件</td>
				<td>2019-12-27 11:11</td>
				<td><span class="btn-danger">删除</span></td>
			</tr>
			<tr>
				<td>1001</td>
				<td>123123123</td>
				<td>顺风快递</td>
				<td>李老师</td>
				<td>18516955565</td>
				<td>已取件</td>
				<td>2019-12-27 11:11</td>
				<td><span class="btn-danger">删除</span></td>
			</tr>
			<tr>
				<td>1001</td>
				<td>123123123</td>
				<td>顺风快递</td>
				<td>李老师</td>
				<td>18516955565</td>
				<td>已取件</td>
				<td>2019-12-27 11:11</td>
				<td><span class="btn-danger">删除</span></td>
			</tr>
			<tr>
				<td>1001</td>
				<td>123123123</td>
				<td>顺风快递</td>
				<td>李老师</td>
				<td>18516955565</td>
				<td>已取件</td>
				<td>2019-12-27 11:11</td>
				<td><span class="btn-danger">删除</span></td>
			</tr>
			<tr>
				<td>1001</td>
				<td>123123123</td>
				<td>顺风快递</td>
				<td>李老师</td>
				<td>18516955565</td>
				<td>已取件</td>
				<td>2019-12-27 11:11</td>
				<td><span class="btn-danger">删除</span></td>
			</tr>
		</table>
	</body>
</html>
